<div class="app-sidebar colored">
	<div class="sidebar-header">
		<a class="header-brand" href="{{path('Dashboard')}}">
			<img src="http://www.emsi.ma/wp-content/uploads/2018/04/fav-icon.png" alt="">

			<span class="text">EMSI</span>
		</a>
		<button type="button" class="nav-toggle">
			<i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i>
		</button>
		<button id="sidebarClose" class="nav-close">
			<i class="ik ik-x"></i>
		</button>
	</div>

	<div class="sidebar-content">
		<div class="nav-container">
			<nav id="main-menu-navigation" class="navigation-main">
				<div class="nav-lavel">Manage</div>
				<div class="nav-item active">
					<a href="{{path('Dashboard')}}">
						<i class="ik ik-bar-chart-2"></i>
						<span>Dashboard</span>
					</a>
				</div>
				<div class="nav-item">
					<a href="{{path('Professeurs.browse')}}">
						<i class="ik ik-user"></i>
						<span>Professeurs</span>
					</a>
				</div>
				<div class="nav-item">
					<a href="{{path('Cours.browse')}}">
						<i class="ik ik-layers"></i>
						<span>Cours</span>
					</a>
				</div>
				<div class="nav-item">
					<a href="{{path('Departements.browse')}}">
						<i class="ik ik-home"></i>
						<span>Départements</span>
					</a>
				</div>
			</nav>
		</div>
	</div>
</div>
