<div class="app-sidebar colored">
	<div class="sidebar-header">
		<a class="header-brand" href="">
			<div class="logo-img">
				<img src="{{asset("assets/img/emsi.png")}}" class="header-brand-img" alt="lavalite">
			</div>

			<span class="text">Teachers</span>
		</a>
		<button type="button" class="nav-toggle">
			<i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i>
		</button>
		<button id="sidebarClose" class="nav-close">
			<i class="ik ik-x"></i>
		</button>
	</div>

	<div class="sidebar-content">
		<div class="nav-container">
			<nav id="main-menu-navigation" class="navigation-main">
				<div class="nav-lavel">Manage</div>
				<div class="nav-item active">
					<a href="{{path('Dashboard')}}">
						<i class="ik ik-bar-chart-2"></i>
						<span>Dashboard</span>
					</a>
				</div>
				<div class="nav-item">
					<a href="{{path('Professeurs.browse')}}">
						<i class="ik ik-user"></i>
						<span>Professeurs</span>
						<span class="badge badge-success"></span>
					</a>
				</div>
				<div class="nav-item">
					<a href="{{path('Cours.browse')}}">
						<i class="ik ik-layers"></i>
						<span>Cours</span>
						<span class="badge badge-danger"></span>
					</a>
				</div>
				<div class="nav-item">
					<a href="{{path('Departements.browse')}}">
						<i class="ik ik-home"></i>
						<span>Départements</span>
						<span class="badge badge-danger"></span>
					</a>
				</div>
			</nav>
		</div>
	</div>
</div>
