{% extends "base.html.twig" %}
{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header d-block">
					<h3>Départements</h3>
				</div>
				<div class="card-body p-0 table-border-style">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom</th>
									<th>Professeurs</th>
									<th>
										<a href="{{path('Departements.create')}}">
											<i class="ik ik-user-plus text-green" style="float:right;"></i>
										</a>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for departement in departements %}
									<tr>
										<th scope="row">{{departement.ID}}</th>
										<td>{{departement.nomDepartement}}</td>
										<td>
											<a href="{{path('Departements.professeurs', {id:departement.ID})}}">
												<i class="ik ik-eye text-blue"></i>
											</a>
										</td>

										<td>
											<div class="table-actions">
												<a href="{{path('Departements.show', {id:departement.ID})}}">
													<i class="ik ik-eye text-blue"></i>
												</a>
												<a href="{{path('Departements.edit', {id:departement.ID})}}">
													<i class="ik ik-edit-2 text-green"></i>
												</a>
												<a href="{{path('Departements.destroy', {id:departement.ID})}}" onclick="return confirm('Voulez vous vraiment supprimer cette département ?');">
													<i class="ik ik-trash-2 text-red"></i>
												</a>
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
