{% extends "base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header d-block">
					<h3>Professeurs Details</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<label class="col-sm-6 col-lg-6 col-form-label">Professeur ID</label>
						<label class="col-sm-6 col-lg-6 col-form-label">{{professeur.id}}</label>

						<label class="col-sm-6 col-lg-6 col-form-label">Nom</label>
						<label class="col-sm-6 col-lg-6 col-form-label">{{professeur.nom}}</label>

						<label class="col-sm-6 col-lg-6 col-form-label">Prénom</label>
						<label class="col-sm-6 col-lg-6 col-form-label">{{professeur.prenom}}</label>

						<label class="col-sm-6 col-lg-6 col-form-label">CIN</label>
						<label class="col-sm-6 col-lg-6 col-form-label">{{professeur.cin}}</label>

						<label class="col-sm-6 col-lg-6 col-form-label">Adresse</label>
						<label class="col-sm-6 col-lg-6 col-form-label">{{professeur.adresse}}</label>


						<label class="col-sm-6 col-lg-6 col-form-label">Téléphone</label>
						<label class="col-sm-6 col-lg-6 col-form-label">{{professeur.telephone}}</label>


						<label class="col-sm-6 col-lg-6 col-form-label">Email</label>
						<label class="col-sm-6 col-lg-6 col-form-label">{{professeur.email}}</label>


						<label class="col-sm-6 col-lg-6 col-form-label">Date Recrutement</label>
						<label class="col-sm-6 col-lg-6 col-form-label">{{professeur.dateRecrutement | date("m/d/Y") }}</label>


						<label class="col-sm-6 col-lg-6 col-form-label">Département</label>
						<label class="col-sm-6 col-lg-6 col-form-label">{{professeur.departement.nomDepartement}}</label>


					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
